@import "tailwindcss";

/* * {
  outline: 1px solid red;
} */

html {
  scroll-behavior: smooth;
}

/* clerk user button handle */
.cl-avatarBox {
  width: 2.3rem;
  height: 2.3rem;
}

/* carousel arrows */
.arrows {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* input color */
input {
  background-color: #fff;
  accent-color: red;
  color: #333;
}

.box-shadow-cs:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
